
.content{
    list-style: none;
    text-align: center;
}

.homePage{
    flex: 1;
    margin: 0%;
    padding-left: 10px;
    padding-right: 10px;
}

.images{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.intro{
    margin: 2%;
    text-align: center;
}

li{
    margin: 1em 0;
}

.logo{
    height: 100px;
    width: 200px;
}

.locker{
    height: 100px;
    width: 100px;
}

.title {
    background-color:#009EE8;
    border-bottom: solid;
    border-top: solid;
    border-color: rgb(2, 27, 56);
    color: whitesmoke;
    margin-top: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.site{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 500px){
    .images{
        display: flex;
        justify-content: space-around;
    }
}





