.homePage{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0%;
    flex: 1;
}

.title {
    margin-top: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: whitesmoke;
    text-align: center;
    background-color:#009EE8;
    border-top: solid;
    border-color: rgb(2, 27, 56);
    border-bottom: solid;
    border-color: rgb(2, 27, 56);
}

.intro{
    margin: 2%;
    text-align: center;
}
.content{
    text-align: center;
    list-style: none;
}

li{
    margin: 1em 0;
}

.logo{
    width: 200px;
    height: 100px;
}
.locker{
    width: 100px;
    height: 100px;
}

.images{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
@media (min-width: 500px){
    .images{
        display: flex;
        justify-content: space-around;
    }
}

.site{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }



