.packages {
    height: 100%;
    background-color: whitesmoke;
    
  }
.section-heading{
    margin-top: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: whitesmoke;
    text-align: center;
    background-color:#009EE8;
    border-top: solid;
    border-color: rgb(2, 27, 56);
    border-bottom: solid;
    border-color: rgb(2, 27, 56);
}

.grid{
    padding: 2%;
}
 
@media (max-width: 350px){
   .section-heading{
    padding: 1%;
    padding-top: 5px;

   }
}


  /* YouTube breakpoints */
  @media (min-width: 500px) {
    .packages .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 16px;
    }
  }
  
  @media (min-width: 900px) {
    .packages .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 16px;
    }
  }
  
  
  @media only screen and (min-width: 1366px) {
    .packages .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 12px;
    }
  }
 
  

  
  