
.details{
    list-style: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.image{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.package-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.site-content{
    flex: 1;
    align-items: center;
}

@media(min-width:500px){
    .details {
        align-items: center;
        columns: 2;
        list-style: none;
        text-align: center;
        -moz-columns: 2;
        -webkit-columns: 2;
    }
}

@media(min-width: 1367px){
    .image{
        max-width: 700px;
    }
    ul{
        columns: 1;
    }
}