.grid{
    padding: 2%;
}
.packages {
  background-color: whitesmoke;  
  height: 100%;
  }

.section-heading{
    margin-top: 0%;
    background-color:#009EE8;
    border-bottom: solid;
    border-top: solid;
    border-color: rgb(2, 27, 56);
    color: whitesmoke;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}

@media (max-width: 350px){
   .section-heading{
    padding: 1%;
    padding-top: 5px;

   }
}

@media (min-width: 500px) {
  .packages .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 16px;
    }
  }
  
@media (min-width: 900px) {
  .packages .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 16px;
    }
  }
  
@media only screen and (min-width: 1366px) {
  .packages .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 12px;
    }
  }
 
  

  
  