.search-bar{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.search-title{
  text-align: center;
  padding-top: 20px;
}

.search-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content{
  flex: 1;
}