.footer {
    padding: 16px 16px;
    background-color:red;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 10vh; 
      vertical-align: -webkit-baseline-middle;
      grid-template-columns: 1fr 1fr; /* each fr is a equal space column. */
      grid-column-gap: 16px;
    }
  
    .Site {
        background-color:#009EE8;
        display: flex;
        min-height: 10vh;
        flex-direction: column;
        justify-content: space-around;
        
      }
      
      .Site-content {
        flex: 1;
        background-color: aquamarine;
      }
  
   

   
    @media only screen and (min-width: 660px) {
      .header {
        grid-template-columns: 1fr 1fr 1fr; /* each fr is a equal space column. */
      
      }}
    