.card {
    
    padding-left: 5%;
    border-radius: 5px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: default;
    background-color: green;
  }
  
  @media only screen and (min-width: 900px) {
    .card .meta-data {
      padding: 0;
    }
  }

  /*@media (min-width: 550px) {
    .card{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}*/

