.card {
    padding: 5%;
    border-radius: 5px;
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: default;
    background-color: #009EE8;
    border: solid;
    border-color: rgb(2, 27, 56);
  }

  .short-desc{
    list-style: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    list-style: none;
  }

  .link{
    text-decoration: none;
    color: rgb(2, 27, 56);
  }
  
@media(min-width:500px){
  .short-desc{
    columns: 1;
    list-style: none;
    text-align: center;
  }
}
 
